In [80]:
library(dplyr)

In [81]:
#Returns elements with most occurrences in a vector 
Mode <- function(x){
  dd <- unique(x)
  dd[which.max(tabulate(match(x,dd)))]
}

In [82]:
#Returns non empty sting with most occurrences in a vector 
ModeChar <- function(x){
  
  #Get rid of NA or empty values
  x <- x[!(x %in% c('',' ','NA','N/A','na','n/a'))]

  
  dd <- unique(x)
  D <- dd[which.max(tabulate(match(x,dd)))]
  
    
  if(is.na(D)){
    D <- ' '
    as.character(D)
  }
  if(!is.na(D)){
    as.character(D)
  }
   
}

In [83]:
#Get item assicated with the max of another array
Which.Max <- function(x,y){
  x[which.max(y)]
}

#Get item assicated with the min of another array
Which.Min <- function(x,y){
  x[which.min(y)]
}

#Get sub-array from one array assicated with an item of another array
Which.Array <- function(x,y,z){
  a <- x[which(y==z)]
  a
}


#Get 1 item from one array assicated with an item of another array
Which.Item <- function(x,y,z){
  a <- x[which(y==z)][1]
  a
}

In [91]:
#Turn a vector of entries into a list
Agg.List <- function(x){
    
    #Get rid of NA or empty values
    x <- x[!(x %in% c('',' ','NA','N/A','na','n/a'))]
    
    x <- sort(x)
    
    paste(sort(x),collapse="  |  ")
}



#Turn a vector of entries into a list of uniques
Agg.List.U <- function(x){
    
    #Get rid of NA or empty values
    x <- x[!(x %in% c('',' ','NA','N/A','na','n/a'))]
    x <- sort(unique(x))
    
    paste(sort(x),collapse="  |  ")
}

In [96]:
#Create test df
df_test <- data.frame(Name = c('Jack','Jack','Jack',
                     'Al','Al','Al','Al',
                     'Sam','Sam','Sam'),
           Date = as.Date(c('2011-10-09','2011-11-09','2011-09-09',
                     '2011-12-09','2011-11-08','2011-11-06','2011-12-29',
                     '2011-10-09','2011-10-09','2010-10-09')),
           City = c('Urbana','Champaign','Urbana',
                     'Dayton','Dayton','N/A',' ',
                     'Lafayette','Lafayette','New Orleans'),
           Sales = c(2000,3000,3050,
                     4000,6000,2000,1500,
                     2500,3000,4000))

In [97]:
#Find max date and corresponding city & sale
df_test %>% 
    group_by(Name) %>%
    summarise(MaxDate = max(Date),
              CityMaxDate = Which.Max(City,Date),
              SaleMaxDate = Which.Max(Sales,Date))

  Name MaxDate    CityMaxDate SaleMaxDate
1 Al   2011-12-29             1500
2 Jack 2011-11-09 Champaign   3000
3 Sam  2011-10-09 Lafayette   2500

In [98]:
#Find max sale and corresponding city & date
df_test %>% 
    group_by(Name) %>%
    summarise(MaxSale = max(Sales),
              CityMaxSale = Which.Max(City,Sales),
              DateMaxSale = Which.Max(Date,Sales))

  Name MaxSale CityMaxSale DateMaxSale
1 Al   6000    Dayton      2011-11-08
2 Jack 3050    Urbana      2011-09-09
3 Sam  4000    New Orleans 2010-10-09

In [99]:
#Find mode city and mean of sales in that city
df_test %>% 
    group_by(Name) %>%
    summarise(ModeCity = ModeChar(City),
              MeanSalesModeCity = mean ( Which.Array(Sales,City,ModeChar(City)) ) )

  Name ModeCity  MeanSalesModeCity
1 Al   Dayton    5000
2 Jack Urbana    2525
3 Sam  Lafayette 2750

In [101]:
#Get list of unique cities per person
df_test %>% 
    group_by(Name) %>%
    summarise(ListCity = Agg.List.U(City))

  Name ListCity
1 Al   Dayton
2 Jack Champaign  |  Urbana
3 Sam  Lafayette  |  New Orleans